@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer utilities {
    [dir="rtl"] .form-select {
        background-position: left 0.5rem center;
    }
    [dir="rtl"] select {
        background-position: left 0.5rem center;
        padding-right: 0.75rem;
    }
}